@{
    ViewData["Title"] = "Contact Info";
}

<style>
    .bordered {
        padding: 10px;
        border: 10px outset grey;
        border-radius: 16px;
        background-color: white;
        height: 100%;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row {
        content: "";
        display: table;
        clear: both;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-image: url(https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)">
    <div class="container text-center bordered">
        <h1 class="display-4">Contact Info and Resume:</h1>
        <a href="https://drive.google.com/file/d/1bSZHM30t98ZY8x7qkHYjAZ2YNrE4HHJo/view?usp=sharing">Van Euclid's Resume</a>
        <p class="row">
            <div class="column">
                <img src="https://i.ibb.co/F0M7jPs/imageedited.jpg" alt="imageedited" style="height: 55%; width: 55%;">
            </div>
            <div class="column">
                <a href="https://www.linkedin.com/in/vaneuclid/">Linkedin</a> <br />
                <a href="https://github.com/VanEuclid">GitHub</a><br />
                <a href="mailto: vanedy@live.com">vanedy@live.com</a><br />
                <a href="https://www.hackerrank.com/vanedy">HackerRank</a><br /><br />

                I'm Van Euclid, I graduated from the University of Utah in Computer Science and I'm a technician for
                Homehealth Care of America. I want to expand my tech career from hardware to software by moving into a
                software engineering role for a growing software company. Feel free to check out my resume and email me
                for any job opportunities. Thank you.
            </div>
        </p>
        <br /><br /><br />This website was made using C# / ASP.Net.
    </div>
</body>
</html>