@{
    ViewData["Title"] = "Euclidean Software LLC";
}

<style>
    .bordered {
        padding: 10px;
        border: 10px outset grey;
        border-radius: 16px;
        background-color: white;
    }

    img {
        width: 90%;
        height: 80%;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-image: url(https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)">
    <div class="text-center bordered">
        <h1 class="display-4">Euclidean Software LLC</h1>
        <p>
            The service I'm providing is an enchancement to the productivity process by creating an online platform for entrepreneurs;<br />
            from a website to introducing them to new technologies. Sometimes all it takes to save time is knowing what technologies is out there.<br />
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfOXqE8gl-wuzZCYqrT2K7a1dSbctN-GDwdeO3rIsyAQZ4aNA/viewform?embedded=true" width="640" height="798" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </p>
    </div>
</body>
</html>