@{
    ViewData["Title"] = "Sign In or Out";
}


<style>
    .bordered {
        padding: 10px;
        border: 10px outset grey;
        border-radius: 16px;
        background-color: white;
    }

    .cursoredit {
        cursor: pointer;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-image: url(https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)">
    <div class="text-center bordered">
        <h1 class="display-4">Login</h1>

        <form action="SignInAttempt">

            <label for="username">Username: </label>
            <input name="username" type="text" /><br />

            <label for="password"> Password: </label>
            <input name="password" type="password" /> <br />

            <hr />
            <input type="submit" value="Login" />
        </form>

        <a class="nav-link text-dark cursoredit" onclick="location.href='@Url.Action("SignOut", "Home")'">Sign Out</a>
    </div>
</body>
</html>